<?xml version="1.0"?>
<config>
	<modules>
		<Ysoft_Mrsync>
			<version>1.0.0</version>
		</Ysoft_Mrsync>
	</modules>

	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<mrsync after="Mage_Adminhtml">Ysoft_Mrsync_Adminhtml</mrsync>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>

	<adminhtml>
		<menu>
			<customer>
				<children>
					<mrsync translate="Mailrelay sync users" module="mrsync">
						<title>Mailrelay sync users</title>
						<action>adminhtml/mrsync</action>
						<sort_order>999</sort_order>
					</mrsync>
				</children>
			</customer>
		</menu>
		<acl>
            		<resources>
                		<admin>  <!--This is acl based on URL. If you see URL it would be /admin/system_config/ -->
                    			<children>
                        			<system>
                            				<children>
                                         			<config>
                                                  			<children>
                                            					<mrsync translate="title" module="mrsync">  <!-- This is name of the section created by us -->
                                                					<title>MRSync ACL</title>  <!-- Title as shown in User->Roles->Permissions Window -->
                                                					<sort_order>99</sort_order>
                                            					</mrsync>
                                        				</children>
                                				</config>
                            				</children>
                        			</system>
                    			</children>
                		</admin>
            		</resources>
        	</acl>

		<layout>
			<updates>
				<mrsync>
					<file>mrsync.xml</file>
				</mrsync>
			</updates>
		</layout>

		<events>
			<admin_system_config_changed_section_mrsync>
				<observers>
					<mrsync_save_config>
						<class>mrsync/observer</class>
						<method>saveConfig</method>
					</mrsync_save_config>
				</observers>
			
			</admin_system_config_changed_section_mrsync>
		</events>
	</adminhtml>

	<global>
		<helpers>
			<mrsync>
				<class>Ysoft_Mrsync_Helper</class>
			</mrsync>
		</helpers>
		<models>
			<mrsync>
				<class>Ysoft_Mrsync_Model</class>
				<resourceModel>mrsync_mysql4</resourceModel>
			</mrsync>
		</models>

	</global>
</config>
